# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
*.csv
*.xlsx

# System files
.DS_Store
Thumbs.db

# VSCode or IDE settings
.vscode/
.idea/

# Streamlit logs
.streamlit/